.repository-card {
  background: #5c1e7c;
  max-width: 350px;
  border: 3px solid #a552ce;
  border-radius: 10px;
  text-align: center;
  color: snow;
  margin-top: 1rem;
}

.repositoryCard-title {
  padding-top: 1rem;
  font-size: 1.2em;
}

.repositoryCard-text {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.repositoryCard-icon {
  margin-bottom: 0.5rem;
}
